{% block head %}
<head>
        <title>{{ctx.head()}}</title>
        <link rel="shortcut icon" href="/logo.png">
<style>
    * {
        background: {{ web['back'].val }}; color: {{ web['fore'].val }};
        font: {{ web['font'].val }}; font-size: {{ web['font']['size'].val }};
    }

    #cli { position: absolute; bottom:0; width:95%; }
    #cli > * { width:100%; }
    #pad { color: lightblue; }
    #go  { background: #002222; }
</style>
</head>
{% endblock %}

{% block dump %}
{% endblock %}

{% block cli %}
{% endblock %}

{% block script %}
{% endblock %}
